[submodule "ci"]
	path = ci
	url = https://github.com/fabiand/traviskube/
[submodule "osinfo-db"]
	path = osinfo-db
	url = https://gitlab.com/libosinfo/osinfo-db.git
[submodule "automation/kubevirt"]
	path = automation/kubevirt
	url = https://github.com/kubevirt/kubevirt
