sudo: required
dist: xenial
language: python
branches:
  only:
  - master
  - /^v[0-9]/
env:
  global:
  - CPLATFORM=minishift
jobs:
  include:
  - stage: Tests
    name: Check syntax of all templates
    script: bash -x travis_ci/test_syntax.sh

  - name: Functional test of the Fedora template
    script: bash -x travis_ci/test.sh fedora desktop

  - name: Functional test of the Ubuntu template
    script: bash -x travis_ci/test.sh ubuntu desktop

  - name: Functional test of the CentOS 8 template
    script: bash -x travis_ci/test.sh centos8 server

  - name: Functional test of the desktop CentOS 8 template
    script: bash -x travis_ci/test.sh centos8 desktop

  - name: Functional test of the CentOS 7 template
    script: bash -x travis_ci/test.sh centos7 server

  - name: Functional test of the desktop CentOS 7 template
    script: bash -x travis_ci/test.sh centos7 desktop

  - name: Functional test of the CentOS 6 template
    script: bash -x travis_ci/test.sh centos6 server

  - stage: Build and Deploy
    name: Build and Deploy to GitHub
    before_script: skip
    # released artifacts MUST always have REVISION=1
    script: make release "VERSION=$TRAVIS_TAG" REVISION=1
    deploy:
      provider: releases
      api_key: "$GITHUB_TOKEN"
      file: dist/common-templates-$TRAVIS_TAG.yaml
      skip_cleanup: true
      name: $TRAVIS_TAG
      on:
        tags: true
        repo: kubevirt/common-templates

cache:
  directories:
  - cache
  - "~/.minishift/cache"
  - "~/.minikube/cache"
addons:
  apt:
    sources:
    - sourceline: 'ppa:ansible/ansible'
    packages:
    - qemu-utils
    - jq
    - ansible
    - python-gobject
      python-six
    - libosinfo-1.0
    - gir1.2-libosinfo-1.0
    - intltool
before_script:
- sudo mount --make-rshared /
- bash -x ci/ci/extra/get-kubevirt-releases
- bash -x ci/prepare-host $CPLATFORM
- bash -x ci/prepare-host virtctl $(bash -x ci/ci/extra/cat-kubevirt-release last)
- bash -x ci/start-cluster $CPLATFORM
- bash -x ci/deploy-kubevirt $CPLATFORM
before_deploy:
- openssl aes-256-cbc -K $encrypted_02d89e1b05ff_key -iv $encrypted_02d89e1b05ff_iv -in ssp-operator-deploy-key.enc -out ssp-operator-deploy-key -d

