sudo: required
dist: xenial
language: python
branches:
  only:
  - master
  - "/^v[0-9]/"
env:
  global:
  - KUBEVIRT_VER=v0.10.0
  - CPLATFORM=minikube CDIST=kubernetes CVER=1.11.2
jobs:
  include:

  - stage: Tests
    name: Check syntax of all templates
    env: TARGET=syntax-tests
    script: bash -x test.sh

  - name: Functional test of the Fedora template
    env: TARGET=functional-tests TEST_FUNCTIONAL="fedora-generic-tiny fedora-generic-small fedora-generic-medium fedora-generic-large"
    script: bash -x test.sh

  - name: Functional test of the Ubuntu template
    env: TARGET=functional-tests TEST_FUNCTIONAL="ubuntu-generic-tiny ubuntu-generic-small ubuntu-generic-medium ubuntu-generic-large"
    script: bash -x test.sh

  - name: Functional test of the RHEL template
    env: TARGET=functional-tests TEST_FUNCTIONAL="rhel7-generic-tiny rhel7-generic-small rhel7-generic-medium rhel7-generic-large"
    script: bash -x test.sh

  - name: Functional test of the CentOS template
    env: TARGET=functional-tests TEST_FUNCTIONAL="centos7-generic-tiny centos7-generic-small centos7-generic-medium centos7-generic-large"
    script: bash -x test.sh

  - stage: Build and Deploy
    name: Build and Deploy to GitHub
    before_script: skip
    script: make release "VERSION=$TRAVIS_TAG"
    deploy:
      provider: releases
      api_key:
        secure: "TKxavkyq4h4xmH5hLCMbl2w9gceWh9InTY9xomxrZM8DkhLozjeUCRXn6YubnPnI9V23iemLHucUMV/mIwxT3m3iU+L6IwIdl1E1SdYKGwWUvW5ZfMjYI2A1NEVCiR7yyRoo0rhMd7v00gavgAY9UhUhIerR/CduFqbyfik/Qvy80m6+XZ1D099Em+4uWlzZ9qBVHSj7kdEbhDlV2rvqd9A6sA/qO+eg+jdzirB2T5sRvNs0eSpoKl2M1qPRBilbeA7DWXvkHsA5LJlOuNO0p6DW/+vqMxXpKBE1BsfQQzHReCCrSi0CkM+1uPzbKDPYKHXkWFfwQP8s6mZf4pPx2EVmiuZ7nKtB+y1hUoTnaIQs0IdsOMzPJvTNC+5DMnldMn1+8uDzIXrPkxfPCC6z9vc4eenuBWuNR/3SVzWkmoB+JpsvMNC2+rCX7SB8yy93T9PlfyOBRnckKzr2YZmxcArGvLzb+wVHwukzmIyQYLq4pxjgMhh1BWMdobLPYhTgj1s1pWqgNnam54bdK+OLVt72Xh0VHVtPSZHrmtyE5m+Ifzz+DUu9NKeCdgzxNq+KrOmf9q3xn8iUYPOIbbI67tmWYaQ/UB6nGd2Np2dOGlhfAFau11Q9d8X2U/IKBn0u725cj/a/yaRYzATSzd2xJo29BYE8I0KTJq5pVaTAMzg="
      file: "dist/common-templates-$TRAVIS_TAG.yaml"
      skip_cleanup: true
      name: $TRAVIS_TAG
      on:
        tags: true
        repo: kubevirt/common-templates

cache:
  directories:
  - cache
  - "~/.minishift/cache"
  - "~/.minikube/cache"
addons:
  apt:
    sources:
    - sourceline: 'ppa:ansible/ansible'
    packages:
    - qemu-utils
    - jq
    - ansible
    - python-gobject
    - libosinfo-1.0
    - gir1.2-libosinfo-1.0
before_script:
- sudo mount --make-rshared /
- bash -x ci/prepare-host $CPLATFORM $CVER
- bash -x ci/prepare-host virtctl $KUBEVIRT_VER
- bash -x ci/prepare-host oc 3.10.0
- bash -x ci/start-cluster $CPLATFORM $CVER
- bash -x ci/deploy-kubevirt $CDIST $KUBEVIRT_VER
- kubectl get pods --all-namespaces
- kubectl describe nodes
- kubectl describe -n kube-system daemonset virt-handler
- kubectl -n kube-system logs -l kubevirt.io=virt-handler
