sudo: required
dist: xenial
language: python
branches:
  only:
  - master
  - /^v[0-9]/
env:
  global:
  - KUBEVIRT_VER=v0.13.0
  - CPLATFORM=minikube CVER=1.11.2
jobs:
  include:
  - stage: Tests
    name: Check syntax of all templates
    env: TARGET=syntax-tests
    script: bash -x test.sh

  - name: Functional test of the Fedora template
    env: TARGET=functional-tests TEST_FUNCTIONAL="fedora-generic-tiny fedora-generic-small fedora-generic-medium fedora-generic-large"
    script: bash -x test.sh

  - name: Functional test of the Ubuntu template
    env: TARGET=functional-tests TEST_FUNCTIONAL="ubuntu-generic-tiny ubuntu-generic-small ubuntu-generic-medium ubuntu-generic-large"
    script: bash -x test.sh

  - name: Functional test of the RHEL template
    env: TARGET=functional-tests TEST_FUNCTIONAL="rhel7-generic-tiny rhel7-generic-small rhel7-generic-medium rhel7-generic-large"
    script: bash -x test.sh

  - name: Functional test of the desktop RHEL template
    env: TARGET=functional-tests TEST_FUNCTIONAL="rhel7-desktop-tiny rhel7-desktop-small rhel7-desktop-medium rhel7-desktop-large"
    script: bash -x test.sh

  - name: Functional test of the CentOS template
    env: TARGET=functional-tests TEST_FUNCTIONAL="centos7-generic-tiny centos7-generic-small centos7-generic-medium centos7-generic-large"
    script: bash -x test.sh

  - name: Functional test of the desktop CentOS template
    env: TARGET=functional-tests TEST_FUNCTIONAL="centos7-desktop-tiny centos7-desktop-small centos7-desktop-medium centos7-desktop-large"
    script: bash -x test.sh

  - stage: Build and Deploy
    name: Build and Deploy to GitHub
    before_script: skip
    script: make release "VERSION=$TRAVIS_TAG"
    deploy:
      provider: releases
      api_key: "$GITHUB_TOKEN"
      file: dist/common-templates-$TRAVIS_TAG.yaml
      skip_cleanup: true
      name: $TRAVIS_TAG
      on:
        tags: true
        repo: kubevirt/common-templates

cache:
  directories:
  - cache
  - "~/.minishift/cache"
  - "~/.minikube/cache"
addons:
  apt:
    sources:
    - sourceline: 'ppa:ansible/ansible'
    packages:
    - qemu-utils
    - jq
    - ansible
    - python-gobject
    - libosinfo-1.0
    - gir1.2-libosinfo-1.0
    - intltool
before_script:
- sudo mount --make-rshared /
- bash -x ci/prepare-host $CPLATFORM $CVER
- bash -x ci/prepare-host virtctl $KUBEVIRT_VER
- bash -x ci/prepare-host oc 3.10.0
- bash -x ci/start-cluster $CPLATFORM $CVER
- bash -x ci/deploy-kubevirt $CPLATFORM $KUBEVIRT_VER
- kubectl get pods --all-namespaces
- kubectl describe nodes
- kubectl describe -n kubevirt daemonset virt-handler
- kubectl -n kubevirt logs -l kubevirt.io=virt-handler
